<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ '/assets/images/freddy_penguin.webp' | relative_url }}"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ '/assets/js/tailwind-brand.js' | relative_url }}"></script>

    <style>
      @font-face {
        font-family: "Riley";
        src: url('{{ "/assets/fonts/RileyFont.ttf" | relative_url }}')
          format("truetype");
        font-weight: normal;
        font-style: normal;
      }
      .logo-font {
        font-family: "Riley", sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-50">
    {% include header.html %} {{ content }} {% include footer.html %}

    <script src="{{ '/assets/js/time-ago.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/hamburger.js' | relative_url }}"></script>

  </body>
</html>
